@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}